@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,800;0,900;1,500&display=swap');

.body__style{
    background-color: royalblue;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    margin: 0;    
    padding: 0;         
}

.header__style{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 10px;
    width: 100vw;
    height: 34px;
    z-index: 99;    
}

.header_logo__style{
    position: relative;
    display: flex;
    flex-direction: row;
    left: 18px;    
    text-align: center;
    width: 100px;
    height: 34px;
    color: #262626;
    font-family: Pacifico;
    font-size: 30px;
    font-weight: 400;
    line-height: 25px;
}

.header_logo__style-clit{    
    position: relative;
    top: -26px;
}

.menu_checkbox__style{
    width: 15px;
    height: 15px;
    position: relative;
    top: 7px;
    right: -136px;
    z-index: 4;    
    appearance: none;
    outline: none;   
}

.menu__style{
    width: 34px;
    height: 24px;
    padding: 3px;
    font-size: 30px;
    position: relative;
    top: -1px;
    right: -56%;
    z-index: 2;
}

.header_nav__style{
    background-color: white;    
    height: 240px;
    position: relative;
    top: 32px;        
}

.header_nav__style-li{
    position: relative;
    left: -5px;
    margin: 18px 20px 0 0;
    list-style: none;
    cursor: pointer;    
}

.header_nav__style-a{
    text-decoration: none;
    color: #262626;
    font-family: Raleway;
    font-weight: 800;
}

.header_nav__style-a:hover {
    border-bottom: 3px solid orange ;
    padding-bottom: 5px;
}

.menu_checkbox__style:checked ~ .header_nav__style{
    position: relative;
    right: -200px;       
}

.scroll_container__style{
    position: fixed;
    top: 92vh;
    left: 47%;
    z-index: 90;
    opacity: 0.7;
}

.fresh_life_container__style{
    background-image: url("../img/StrawberyInYogurtSplash.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1;
    width: 100vw;
    height: 100vh;
    position: relative; 
    z-index: 1;   
}

.fresh_life_content__style{
    font-family: Raleway;    
    position: relative;
    top: 130px;
    left: 15px;
    width: 60%;
    height: 40%;
}

.fresh_life_content-h2__style{
    font-size: 40px;
    font-weight: 900;
    color: #262626;
}

.fresh_life_content-p__style{
    color: #262626;
    line-height: 27px;
}

.fresh_life_content-button__style{
    width: 200px;
    height: 55px;    
    background-color: #ff6033;
    color: white;
    position: relative;
    top: 100px;
    outline: none;
    border: none;
}

.fresh_life_content-button__style:hover {
    border: 1px solid #ff6033;
    background-color: #00c4c4;
}

.about_us_container__style{
    background-color: #00c4c4;
    width: 100vw;
    height: 78vh;
    position: relative; 
    z-index: 1; 
}

.about_us_content__style{
    background-image: url("../img/raspberry.png");
    background-repeat: no-repeat;
    background-position: 205% 0;
    background-size: 500px;
    width: 100vw;
    height: 75vh;
    color: white;     
}

.about_us_content-h2__style{
    position: relative;    
    width: 45%;
    top: 8%;
    left: 55%;
}

.about_us_content-p__style{
    position: relative;    
    width: 45%;
    top: 8%;
    left: 55%;
}

.our_services_container__style{
    background-color: #70bfff;
    width: 100vw;
    height: 78vh;
    position: relative; 
    z-index: 1;
}

.our_services_content__style{
    background-image: url("../img/Tomato.png");
    background-repeat: no-repeat;
    background-position: 56% 0;
    background-size: 300px;
    width: 100%;
    height: 75vh;   
}

.option_our_services__style{
    display: flex;    
    flex-direction: column;
    margin: 40% 5% 0 -4%;    
}

.option_our_services_li__style{
    margin: 1%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    list-style: none;
    padding: 3px 0 3px 0;
    margin-top: 8%;
    display: flex;
    justify-content: center;       
}

.option_our_services_li__style:hover {
    background-color: #d6d6d6;
}

.option_our_services_a__style{
    text-decoration: none;    
    display: flex;
    flex-direction: row;    
}

.option_our_services_span__style{   
    display: block;
    text-align: center;        
    width: 180px;
    height: 40px;
    position: relative;
    top: 30%; 
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    color: #262626;      
}

.option_our_services_svg__style{    
    border-left: 1px solid #262626;
    margin: 0 0 0 15px;
    padding: 0 0 0 12px;    
}

.option_our_services_h2__style{
    color: #ffffff;
    text-align: center; 
    font-size: 40px;
    font-family: Raleway;
    z-index: 5;
    position: relative;
    top: -440px;
}

.gallery_container_style{
    background-color: #ffe92f;
    width: 100%;
    height: 1550px;
    position: relative; 
    z-index: 1;
}

.gallery_header_style{    
    display: flex;    
    flex-direction: column;
}

.gallery_header-h2_style{    
    position: relative;        
    width: 200px;
    height: 40px;
    top: 15px; 
    left: 22%;    
    text-align: center;
    font-size: 40px;
    color: black;
}

.gallery_header-p_style{    
    position: relative;
    width: 210px;
    top: -20px;
    left: 22%;
    text-align: center;
    font-weight: 900;
}

.gallery_header-photo_style{
    background-color: blue;
    position: relative;
    left: 7.5%;    
    width: 300px;
    height: 210px;
}

.gallery_header-photo-1_style{
    margin-top: 20px;
    background-image: url("../img/peach.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;    
}

.gallery_header-photo-2_style{
    margin-top: 20px;
    background-image: url("../img/blueberry.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.gallery_header-photo-3_style{
    margin-top: 20px;
    background-image: url("../img/blackRaspbery.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.gallery_header-photo-4_style{
    margin-top: 20px;
    background-image: url("../img/blackberry.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.gallery_header-photo-5_style{
    margin-top: 20px;
    background-image: url("../img/hurma.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.gallery_button_style{
    position: relative;
    width: 200px;
    height: 55px;    
    background-color: #5585a2;
    color: white;
    position: relative;
    top: 35px;
    left: 24%;
    outline: none;
    border: none;
}

.gallery_button_style:hover {
    background-color: cyan;
    color: black;
    border: 2px solid coral;
}

