@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,800;0,900;1,500&display=swap');

.general__style{
    background-color: royalblue;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    margin: 0;    
    padding: 0;         
}

.header__style{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 10px;
    width: 100%;
    height: 34px;
    z-index: 99;    
}

.header_logo__style{
    position: relative;
    display: flex;
    flex-direction: row;
    left: 18px;    
    text-align: center;
    width: 100px;
    height: 34px;
    color: #262626;
    font-family: Pacifico;
    font-size: 30px;
    font-weight: 400;
    line-height: 25px;
}

.header_logo__style-clit{    
    position: relative;
    top: -26px;
}

.menu_checkbox__style{
    width: 15px;
    height: 15px;
    position: relative;
    top: 7px;
    right: -38%;
    z-index: 4;    
    appearance: none;
    outline: none;   
}

.menu__style{
    width: 34px;
    height: 24px;
    padding: 3px;
    font-size: 30px;
    position: relative;
    top: -1px;
    right: -52%;
    z-index: 2;
}

.header_nav__style{
    background-color: white;    
    height: 240px;
    position: relative;
    top: 32px;        
}

.header_nav__style-li{
    position: relative;
    left: -5px;
    margin: 18px 20px 0 0;
    list-style: none;
    cursor: pointer;    
}

.header_nav__style-a{
    text-decoration: none;
    color: #262626;
    font-family: Raleway;
    font-weight: 800;
}

.header_nav__style-a:hover {
    border-bottom: 3px solid orange ;
    padding-bottom: 5px;
}

.menu_checkbox__style:checked ~ .header_nav__style{
    position: relative;
    right: -200px;       
}

.scroll_container__style{
    position: fixed;
    top: 92%;
    left: 47%;
    z-index: 90;
    opacity: 0.7;
}

.fresh_life_container__style{
    background-image: url("../img/StrawberyInYogurtSplash.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1;
    width: 100%;
    height: 600px;
    position: relative;     
    z-index: 1;   
}

.fresh_life_content__style{
    font-family: Raleway;    
    position: relative;
    top: 130px;
    left: 15px;
    width: 60%;
    height: 40%;
}

.fresh_life_content-h2__style{
    font-size: 40px;
    font-weight: 900;
    color: #262626;
}

.fresh_life_content-p__style{
    color: #262626;
    line-height: 27px;
}

.fresh_life_content-button__style{
    width: 200px;
    height: 55px;    
    background-color: #ff6033;
    color: white;
    position: relative;
    top: 0px;
    outline: none;
    border: none;
}

.fresh_life_content-button__style:hover {
    border: 1px solid #ff6033;
    background-color: #00c4c4;
}

.about_us_container__style{
    background-color: #00c4c4;
    width: 100%;
    height: 435px;
    position: relative; 
    z-index: 1; 
}

.about_us_content__style{
    background-image: url("../img/raspberry.png");
    background-repeat: no-repeat;
    background-position: 190% 0;
    background-size: 500px;
    width: 100%;
    color: white;
    position: relative; 
    top: -9px   
}

.about_us_content-h2__style{    
    position: relative;
    font-size: 30px;
    font-family: Raleway;
    width: 45%;    
    left: 45%;
}

.about_us_content-p__style{
    position: relative;    
    font-size: 15px;
    font-family: Raleway;
    width: 50%;
    height: 360px;
    top: -18px;
    left: 45%;
}

.our_services_container__style{
    background-color: #70bfff;
    width: 100%;
    height: 500px;
    z-index: 1;
}

.our_services_content__style{
    background-image: url("../img/Tomato.png");
    background-repeat: no-repeat;
    background-position: 56% 0;
    background-size: 300px;
    width: 100%;   
}

.option_our_services__style{
    display: flex;    
    flex-direction: column;
    margin: 40% 5% 0 -4%;    
}

.option_our_services_li__style{
    margin: 1%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    list-style: none;
    padding: 3px 0 3px 0;
    margin-top: 8%;
    display: flex;
    justify-content: center;       
}

.option_our_services_li__style:hover {
    background-color: #d6d6d6;
}

.option_our_services_a__style{
    text-decoration: none;    
    display: flex;
    flex-direction: row;    
}

.option_our_services_span__style{   
    display: block;
    text-align: center;        
    width: 180px;
    height: 40px;
    position: relative;
    top: 30%; 
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    color: #262626;      
}

.option_our_services_svg__style{    
    border-left: 1px solid #262626;
    margin: 0 0 0 15px;
    padding: 0 0 0 12px;    
}

.option_our_services_h2__style{
    color: #ffffff;
    text-align: center; 
    font-size: 40px;
    font-family: Raleway;
    z-index: 5;
    position: relative;
    top: -440px;
}

.gallery_container_style{
    background-color: #ffe92f;
    width: 100%;
    height: 1400px;
    position: relative; 
    z-index: 1;
}

.gallery_header_style{    
    display: flex;    
    flex-direction: column;
}

.gallery_header-h2_style{    
    position: relative;        
    width: 55%;
    height: 40px;
    top: 15px; 
    left: 25%;    
    text-align: center;
    font-size: 40px;
    color: black;
}

.gallery_header-p_style{    
    position: relative;
    width: 70%;
    top: -20px;
    left: 15%;
    text-align: center;
    font-weight: 900;
}

.gallery_header-photo_style{    
    position: relative;    
    left: 6%;    
    width: 88%;
    height: 210px;
}

.gallery_header-photo-1_style{
    background-image: url("../img/peach.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;    
}

.gallery_header-photo-2_style{
    background-image: url("../img/blueberry.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.gallery_header-photo-3_style{
    background-image: url("../img/blackRaspbery.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.gallery_header-photo-4_style{
    background-image: url("../img/blackberry.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.gallery_header-photo-5_style{
    background-image: url("../img/hurma.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.gallery_button_style{
    position: relative;
    width: 200px;
    height: 55px;    
    background-color: #5585a2;
    color: white;
    position: relative;
    top: 15px;
    left: 21%;
    right: 21%;
    outline: none;
    border: none;
}

.gallery_button_style:hover {
    background-color: cyan;
    color: black;
    border: 2px solid coral;
}

.Subscribe_container_style{
    background-color: white;
    width: 100%;
    height: 400px;
    position: relative; 
    z-index: 1;
}

.Subscribe_content_style{
    background-image: url("../img/blueberryFree.png");
    background-position: 85% 100%;
    background-repeat: no-repeat;
    background-size: 200%; 
    width: 100%;   
    height:300px;
    font-family: Raleway;
    font-weight: 700;
}

.Subscribe_h2_style{
    width: 230px;
    position: relative;
    top: 30px;
    left: 16%;
    font-size: 30px;
}

.Subscribe_p_style{    
    width: 70%;
    position: relative;
    top: 15px;
    left: 17%;
    text-align: center;
}

.Subscribe_input_style{
    width: 230px;
    height: 30px;
    position: relative;
    top: 15px;
    left: 15%;
}

.Subscribe_button_style{    
    background-color: #96b92c;
    position: relative;
    width: 200px;
    height: 55px;
    color: white;
    position: relative;
    top: 35px;
    left: 22.5%;
    outline: none;
    border: none;
}

.Subscribe_button_style:hover{
    background-color: #7e992e;
    border: 2px solid coral;
}

.blog_container__style{
    background-color: #b07cf7;
    width: 100%;
    height: 1300px;
    position: relative; 
    z-index: 1;
}

.blog_header__style{
    width: 80%;
    height: 150px;
    text-align: center;
    position: relative;
    left: 9%;
    font-family: Raleway;
    color: white;
    font-weight: 700;
}

.blog_header_h2__style{
    font-size: 40px;
    position: relative;
    left: 4%;    
}

.blog_header_p__style{    
    width: 80%;
    height: 210px;
    position: relative;
    top: -20px;
    left: 12%;
}

.blog_panel__style{
    width: 88%;
    height: 290px;
    position: relative;
    top: 60px;
    left: 6%;
    background-size: auto;
    background-position: center;
    color: white;
    opacity: 1;
}

.blog_panel__style:hover{
    color: #00c4c4;
}

.first_blog_panel__style{
    background-image: linear-gradient(transparent, #000000 140%), url("../img/kiwiDrink.png");
}

.second_blog_panel__style{
    background-image: linear-gradient(transparent, #000000 140%), url("../img/greenSoup.png");
}

.three_blog_panel__style{
    background-image: linear-gradient(transparent, #000000 140%), url("../img/raspberryBaskets.png");
}

.number_blog_panel__style{
    position: relative;
    top: 10px;
    left: 19px;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: #262626;
    opacity: 0.7;   
    text-align: center;
    font-family: Raleway;
    font-weight: 700;
}

.blog_panel-num__style{
    font-size: 33px;       
}

.blog_panel-mon__style{
    position: relative;
    top: -35px;
}

.footer_blog_panel__style{    
    position: relative; 
    width: 90%;
    height: 80px;
    top: 40%;
    left: 5%;
    text-align: left;
    font-family: Raleway;
}

.blog_panel-p1__style{
    position: relative;
    left: 3%;
    font-size: 20px;
    font-weight: 500;
}

.blog_panel-p2__style{
    position: relative;
    top: -9px;
    left: 3%;
    font-size: 15px;
    font-weight: 300;
}

.button_blog__style{
    position: relative;
    top: 80px;
    left: 19%;
    width: 200px;
    height: 55px;    
    background-color: #f72b3b;
    outline: none;
    border: none;
}

.button_blog__style:hover{
    background-color:#00c4c4;
    border: 2px solid #ff6033;
    color: white;
}

.contact_grand_container__style{
    width: 100%;
    height: 780px;
    position: relative;
    top: -40px;
    font-family: Raleway;
    background-image: url("../img/contactFon.png");
}

.header_contact_container__style{
    width: 100%;
    height: 160px;       
}

.h2_header_contact_container__style{
    text-align: center;
    position: relative; 
    top: 60px;
    font-size: 40px;
    font-weight: 800;
}

.p_header_contact_container__style{    
    width: 90%;
    height: 45px;
    text-align: center;
    position: relative;       
    top: 30px;
    left: 5%;
    font-size: 15px;
    font-weight: 600;
}

.middle_contact_container__style{    
    position: relative;
    top: 10px;
    width: 100%;
    height: 740px;
}

.form_contact_container__style{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    left: 4.4%;
}

.form_elements_contact_container__style{
    margin-top: 2%;    
    width: 90%;
    height: 50px;
    background-color: #00c4c4;
    opacity: 0.6;
    border: none;
    color: white; 
    padding: 5px 15px;
}

.form_elements_contact_container__style::placeholder {
    font-family: Raleway;
    color: white;
    font-size: 1.2em;    
}

.textarea_elements_contact_container__style {
    overflow: auto;
    resize: none;
    width: 92%;
    height: 140px;
    padding: 4%;        
}

.textarea_elements_contact_container__style::placeholder {
    font-family: Raleway;
    color: white;
    font-size: 1.3em;    
  }

.form_elements_contact_container__style:hover {
    opacity: 1;
    border-left: 5px solid #355b82;
    width: 88.5%;
    outline: none;
    padding: 5px 19px 0 10px;                 
}

.cahee_contact_container__style{   
    width: 280px;
    position: relative;
    top: 18px;
    left: 11%;
    color: white;        
}

.p_cahee_contact_container__style{
    font-family: Raleway;   
}

.span_cahee_contact_container__style{
    font-weight: 700;
    font-size: 19px; 
}

.footer_contact_container__style{
    background-color: #262626;
    position: relative;
    top: -40px;
    width: 100%;
    height: 150px;
    margin-bottom: -40px;
    text-align: center;       
}

.left_footer_p_contact_container__style{
    color: #b9b9b9;
    width: 90%;
    position: relative;
    left: 15px;    
}

.center_footer_p_contact_container__style{
    color: #b9b9b9;
    font-family: Pacifico
}

.right_footer_p_contact_container__style{
    color: #b9b9b9;
}

.right_footer_p_span_contact_container__style{
    color: #ff2b58;
    
}
