@media screen and (orientation: landscape) and (min-height:320px) and (max-height:760px){
    
    .menu_checkbox__style{       
        position: relative;
        right: -600px;  
    }
    
    .menu__style{
        position: relative;
        right: -600px;
    }
    
    .header_nav__style{            
        width: 70%;
        height: 34px;
        position: relative;
        top: 0px;
        left: -5%;               
    }

    .header_nav__style-ul{
        display: flex;
        flex-direction: row;
    }
    
    .header_nav__style-li{                
        position: relative;
        top: -25px;        
        margin: 18px 10px 0 0;
        list-style: none;
        cursor: pointer;    
    }
    
    .header_nav__style-a{
        text-decoration: none;
        color: #262626;
        font-family: Raleway;
        font-weight: 800;
    }
    
    .header_nav__style-a:hover {
        border-bottom: 3px solid orange ;
        padding-bottom: 5px;
    }
    
    .menu_checkbox__style:checked ~ .header_nav__style{
        position: relative;
        right: 200px;
    }

    .scroll_container__style{
        position: fixed;
        top: 89vh;
        left: 47%;
        z-index: 90;
        opacity: 0.7;
    }

    .fresh_life_content__style{
        font-family: Raleway;    
        position: relative;
        top: 60px;
        left: 15px;
        width: 60%;
        height: 40%;
    } 

    .fresh_life_content-p__style{
        position: relative;
        top: -20px;
        color: #262626;
        line-height: 27px;
    }
    
    .fresh_life_content-button__style{
        position: relative;
        top: -10px;
    }

    .about_us_content__style{
        background-position: -100% 10%;
        position: relative;
        top: -10px;
            
    }
    
    .about_us_content-h2__style{
        position: relative;    
        top: 2%;
        
    }
    
    .about_us_content-p__style{
        position: relative;    
        top: -10px;        
    }
    
    .our_services_content__style{
        position: relative;    
        top: -90%; 
        background-position: 56% 0;           
    }
    
    .option_our_services__style{
        display: flex;    
        flex-direction: row;
        flex-wrap: wrap;
        margin: 45% 0 0 0;            
    }
    
    .option_our_services_li__style{
        width: 270px;
    }

    .option_our_services_h2__style{
        position: relative;
        top: -270px;
    }

    .gallery_container_style{
        height: 1480px;
    }

    .gallery_button_style{
        position: relative;        
        left: 34%;        
    }

    .Subscribe_content_style{        
        background-position: 85% -20%;
    }

    .Subscribe_input_style{
        width: 270px;
        height: 40px;
        position: relative;
        top: 25px;
        left: 59px;
    }
    
    .Subscribe_button_style{
        position: relative;
        position: relative;
        top: 31px;
        left: 14%;
    }

    .blog_container__style{
        height: 1280px;        
    }



    .blog_header__style{
        position: relative;
        left: 7%;        
    }

    .blog_header_h2__style{        
        position: relative;
        left: 2.9%;    
    }



    .blog_panel__style{        
        position: relative;
        top: 15px;
        left: 24%;        
    }

    .button_header__style{
        position: relative;
        top: 43px;
        left: 34%;
        width: 200px;
        height: 55px;    
        background-color: #f72b3b;
        outline: none;
        border: none;
    }




}