@media screen and (orientation: landscape) and (min-height:320px){
 
    .header_logo__style{
        position: relative;                
        left: 8%;
    }

    .menu_checkbox__style{
        position: relative;
        left: 22%;         
    }

    .scroll_container__style{
        position: fixed;
        top: 87%;        
    }

    .fresh_life_container__style{
        height: 420px;
         
    }

    .about_us_container__style{
        height: 422px;
    }

    .about_us_content__style{
        background-position: -300% 35%;
        position: relative;
        top: -24px;          
    }

    .about_us_content-h2__style{    
        width: 24%; 
        position: relative;   
        top: 35px;
        left: 60%;
    }
    
    .about_us_content-p__style{
        position: relative;    
        font-size: 15px;
        font-family: Raleway;
        width: 44%;
        height: 360px;
        top: 40px;
        left: 50%;
    }
    
    .our_services_container__style{
        height: 410px;
    }

    .option_our_services__style{
        margin: 10% 5% 0 -4%;    
    }

    .option_our_services_h2__style{
        position: relative;
        top: -400px;
    }

    .option_our_services_li__style{
        margin-top: 4%;               
    }

    .gallery_container_style{
        background-color: #ffe92f;
        width: 100%;
        height: 900px;
        position: relative; 
        z-index: 1;
    }

    .gallery_photo_colection_style{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        position: relative;
        left: 5%;
    }

    .gallery_photo_style{    
        position: relative;    
        width: 219px;
        height: 210px;
        
    }

    .gallery_photo-1_style{
        display: flex;
        flex-basis: 90%;
    }   
    
    .gallery_photo-3_style{
        margin: 0 0 0 4.3%;
    }
    
    .gallery_photo-4_style{
        margin: -8% 0 0 0;
    }
    
    .gallery_photo-5_style{
        margin: -8% 0 0 4.3%;
    }
    
    .gallery_button_style{
        top: 0;
        left: 32%;
        right: 32%;        
    }
    
    .Subscribe_container_style{
        background-color: white;
        width: 100%;
        height: 400px;
        position: relative; 
        z-index: 1;
    }
    
    .Subscribe_content_style{
        background-position: 85% 100%;
        width: 100%;   
        height: 100%;       
    }
    
    .Subscribe_h2_style{
        width: 41%;
        position: relative;        
        left: 29.5%;        
    }
    
    .Subscribe_p_style{    
        position: relative;
        left: 15%;
    }
    
    .Subscribe_input_style{
        position: relative;
        top: 15px;
        left: 10%;
    }

    .Subscribe_button_style{    
        top: 24px;
        left: 13%;
    }

    .blog_header__style{
        position: relative;
        left: 7%;
    }

    .blog_container__style{
        height: 1320px;
        
    }

    .blog_panel__style{
        width: 65%;
        height: 310px;
        position: relative;
        top: 0px;
        left: 16%;
    }

    .button_blog__style{
        position: relative;
        top: 20px;
        left: 31%;
        
    }

    .form_elements_contact_container__style{
        width: 96%;
    }

    .textarea_elements_contact_container__style {
        width: 94%;
    }


}