@media screen and (min-height:360px){
    
    .menu_checkbox__style{
        position: relative;
        top: 7px;
        right: -34%;   
    }

    .fresh_life_container__style{
        height: 500px;
           
    }

    .about_us_container__style{
        height: 400px;
    }

    .about_us_content__style{
        background-position: 230% 50%;
        width: 100%;
        position: relative; 
        top: -25px   
    }

    .our_services_container__style{
        height: 530px;
    }

    .gallery_photo_style{    
        margin-top: 20px;
    }

    .gallery_container_style{
        height: 1480px;        
    }

    .Subscribe_container_style{
        height: 350px;
    }
    
    .Subscribe_h2_style{
        top: 25px;
        left: 20%;
    }

    .Subscribe_input_style{
        left: 19%;
    }
    
    .Subscribe_button_style{    
        left: 25%;
    }

    .blog_container__style{
        height: 1320px;
    }

    .button_blog__style{
        left: 23%;
    }



}
